<div class="container">
  <div class="justify-content-center">
    <div class="col-md-6">
      <h1>{{ student?.first_name + " " + student?.last_name }}</h1>
      <h2>Information</h2>
      <div class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>First name</th>
            <th>Last name</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              <p>{{ student?.id }}</p>
            </td>
            <td>
              <p>{{ student?.first_name }}</p>
            </td>
            <td>
              <p>{{ student?.last_name }}</p>
            </td>
            <td>
              <button type="submit" class="btn btn-danger" (click)="deleteStudent()">Delete</button>
            </td>
          </tr>
        </tbody>
      </div>

      <h2>Grades</h2>

      <div *ngFor="let module of student?.modules">
        <h3>{{ module.name }}</h3>
        <table>
          <tr>
            <th>Subject</th>
            <th>Grade</th>
          </tr>
          <tr *ngFor="let subject of module.subjects; let i = index">
            <td>{{ subject.name }}</td>
            <td>
              <input type="number" [(ngModel)]="subject.grade" />
            </td>
          </tr>
        </table>
      </div>
      <button (click)="updateGrades()" class="btn btn-warning">Update All Grades</button>
    </div>
  </div>
</div>
