<div class="container-xl">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">CIN</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">Search</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" (keyup)="searchStudents($event)">
        </div>
      </tr>
    </thead>
    <tbody *ngFor="let student of students">
      <tr>
        <td>{{ student.getCin() }}</td>
        <td>{{ student.getFirstName() }}</td>
        <td>{{ student.getLastName() }}</td>
        <div class="d-flex gap-2 col-6 mx-auto">
          <button type="button" class="btn btn-info w-100" (click)="submitStudent(student)">Info</button>
          <button type="button" class="btn btn-warning w-100">Edit</button>
        </div>
      </tr>
    </tbody>
  </table>
</div>

<!--
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>List of Students</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6" *ngFor="let student of students">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">{{ student.getFirstName() }} {{ student.getLastName() }}</h5>
          <p class="card-text">{{ student.getEmail() }}</p>
          <button class="btn btn-primary" (click)="showCardGpt(student)">Toggle Card</button>
          <app-card [student]="selectedStudent"></app-card>
        </div>
      </div>
    </div>
  </div>
</div> -->
